#home {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.route {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.lang {
  font-family: 'Oswald', sans-serif;
}

.sm-nav-item {
  font-family: "BPG Nino Mtavruli", sans-serif;
}

.sm-lang {
  font-family: "Oswald", sans-serif !important;
}

h1 {
  font-family: "BPG Nino Mtavruli", sans-serif !important;
}

#copyright {
  font-family: "Dosis", sans-serif !important;
}

#myMeta {
  font-family: "BPG Nino Mtavruli", sans-serif !important;
}

#myBiography {
  font-family: "BPG Arial", sans-serif;
}

.skill-name {
  font-family: 'Dosis', sans-serif;
}

.project-title {
  font-family: "Oswald", sans-serif !important;
}

.project-route-button {
  font-family: "BPG Nino Mtavruli", sans-serif !important;
}

.project-route-button:hover {
  font-size: 105% !important;
}

.my-work {
  font-family: "BPG Nino Mtavruli", sans-serif !important;
}

.used-technologies {
  font-family: "Oswald", sans-serif !important;
}

.project-link {
  font-family: "BPG Arial", sans-serif;
}

@media only screen and (max-width: 800px) {
  #home {
    width: 130px;
  }
}